authentication = [
  {
    backend = http
    body {password = "${password}", username = "${username}"}
    connect_timeout = 15s
    enable = true
    enable_pipelining = 100
    headers {content-type = "application/json"}
    mechanism = password_based
    method = post
    pool_size = 8
    request_timeout = 5s
    ssl {
      ciphers = []
      depth = 10
      enable = false
      hibernate_after = 5s
      log_level = notice
      reuse_sessions = true
      secure_renegotiate = true
      verify = verify_peer
      versions = [tlsv1.3, tlsv1.2]
    }
    url = "http://host.docker.internal:8080/api/mqtt/auth"
  },
  {
    backend = built_in_database
    mechanism = password_based
    password_hash_algorithm {name = sha256, salt_position = suffix}
    user_id_type = username
  }
]
log {
  console {
    enable = true
    formatter = text
    level = debug
    time_offset = system
  }
  file {
    default {
      enable = true
      formatter = text
      level = warning
      path = "/opt/emqx/log/emqx.log"
      rotation_count = 10
      rotation_size = 50MB
      time_offset = system
    }
  }
}
topic_metrics = [
  {topic = "vehicles/car-002/telemetry"}
]
